@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}
#container > img {
  height: 100vh;
  width: 28vw;
}

.new-para > div {
  display: flex;
  flex-wrap: wrap;
  font-family: "open sans";
  font-weight: 700;
  font-size: 17px;
}

.new-para {
  max-width: 50%;
  margin: 80px 0px 50px 40px;
}

.new-para  span{
    margin-top: 20px;
}
